PORT=3000
NODE_ENV=development
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@proservice.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Super Admin

# Email / SMTP Configuration for Gmail OTP
EMAIL_SERVICE=gmail
EMAIL_USER=your_proservice_app@gmail.com
EMAIL_PASS=your_16_char_google_app_password

# MongoDB Connection String (Atlas or Local)
# e.g., mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/proservice?retryWrites=true&w=majority
MONGODB_URI=
